@import "../_mixin";

.volunteer{
    &__inner{
        ul{
            li{
                @include display-flex;
                @include align-center;
                padding:2rem 3rem 2rem 5rem;
                border: 1px solid #dddddd;
                border-radius: .5rem;
                &+li{
                    margin-top: 1rem;
                }
            }
        }
        .info{
            padding-top: 1.8rem;
            flex:1;
            p{
                @include text-overflow;
                font : {
                    size:1.8rem;
                    weight:500;
                }
                color:#555555;
                &+p{
                    margin-top: 1.5rem;
                }
            }
            .tit{
                margin-bottom: 2rem;
                font-size: 2.3rem;
                color:#000000;
            }
        }
        .type{
            @include d-flex;
            @include flex-column;
            width: 15.6rem;
            height: 19.5rem;
            margin-right: 5rem;
            border:1px solid #005aab;
            border-radius: .5rem;
            .area{
                display: inline-block;
                position:relative;
                margin-bottom: 4rem;
                color:#ffffff;
                font : {
                    size: 1.8rem;
                    weight:500;
                }
                &::before{
                    position:absolute;
                    top: 50%;
                    left:50%;
                    width: 5.3rem;
                    height:5.3rem;
                    background:#005aab;
                    border-radius: 100%;
                    content:'';
                    z-index: -1;
                    transform: translate(-50%, -50%);
                }
            }
            .vtype{
                margin-bottom: 2.5rem;
                font : {
                    size:2.2rem;
                    weight:600;
                }
            }
            .time{
                font : {
                    size:1.8rem;
                    weight:500;
                }
            }
        }
        .apply{
            @include display-flex;
            @include align-center;
            .to{
                @include display-flex;
                margin-right: 3rem;
                p{
                    font : {
                        size:1.8rem;
                        weight:500;
                    }
                    &+p{
                        position: relative;
                        margin-left: 2.6rem;
                        &::before{
                            position: absolute;
                            left: -1.3rem;
                            width:1px;
                            height:1.8rem;
                            background: #cccccc;
                            content:""
                        }
                    }
                    span{
                        color:#005aab;
                        font-weight: 600;
                    }
                }
               
            }
            .button-wrap{
                button{
                    width: 12rem;
                    height: 5rem;
                    font : {
                        size: 1.8rem;
                        weight:500;
                    }
                    color:#005aab;
                    background: #eaf3fa;
                    border : 1px dashed #005aab;
                }
            }
        }
    }
}

.youthCouncil{
    &-top{
        position: relative;
        margin-bottom: 6rem;
        &::before{
            position: absolute;
            top: 6.5rem;
            width:100%;
            height:calc(100% - .5rem);
            background: #f5f8f9;
            content: "";
            z-index: -1;
        }
        .img-wrap{
            width: 47.5rem;
            flex:none;
            img{
                display: block;
                margin: 0 auto;
                border-radius: 3rem;
                box-shadow: 1rem 1rem 1.8rem rgba(0,0,0,0.1);
            }
            
        }
        .title{
            margin-bottom: 3rem;
            font : {
                size:3rem;
                weight:600;
            }
            color:#005aab;
        }
        p{
            font : {
                weight:500;
            }
            line-height: 3.4rem;
            letter-spacing: -.075rem;
        }
        .button-wrap{
            justify-content: flex-start;
            button{
                width:100%;
                max-width: 45rem;
                height: 6rem;
                font-size:2rem;
                border-radius: .5rem;
                box-shadow: .3rem .3rem 1rem rgba(0,0,0,0.28);
            }
        }
    }
    &-des{
        padding-top: 5rem;
        padding-right: 11.5rem;
    }
    &-bottom{
        >ul{
            >li{
                @include display-flex;
                padding: 5rem 0;
                &+li{
                    border-top:1px dashed #dddddd;
                }
            }
        }
        .list{
            &-dashed{
                li{
                    position: relative;
                    padding-left: 1rem;
                    font : {
                        size: 1.8rem;
                        weight: 500;
                    }
                    line-height: 3.2rem;
                    &::before{
                        position:absolute;
                        top:1.5rem;
                        left: 0;
                        width:.4rem;
                        height:1px;
                        background: #000000;
                        content:""
                    }
                }

            }
        }
        .title{
            position: relative;
            width: 21.5rem;
            margin-left: 10.7rem;
            //padding-top: .5rem;
            padding-left: 6rem;
            padding-right: 9.5rem;
            line-height: 3.6rem;
            letter-spacing: -.075rem;
            font : {
                size:2.4rem;
                weight:600;
            }
            flex:none;
            &::before{
                position:absolute;
                top: 1.6rem;
                left: 0;
                width:4rem;
                height: 1px;
                background: #000000;
                content:""
            }
        }
        .cont{
            flex:1;
            p{
                @include d-flex;
                height: 8rem;
                text-align: center;
                border-radius: .3rem;
                font : {
                    size: 1.8rem;
                    weight:500;
                }
                line-height: 3.2rem;
                border:1px solid #005bac;
                &+p{
                    margin-top: 1rem;
                }
            }
        }
    }
}