/* modal */
.modal-content { padding: 5rem 3rem; font-size: 1.8rem; font-weight: 500; }

.modal-body { padding: 0; }

.modal-title { margin-bottom: 3rem; font-weight: 500; }

.modal .button-wrap button { height: 5rem !important; }
