@import "../_mixin";

.board{
    &-view{
        &__inner{
            .view{
                &-header{
                    border-top:2px solid #000000;
                    border-bottom:1px solid #dddddd;
                    padding:5rem 0;
                    text-align: center;
                }
                &-title{
                    font: {
                        size: 3.6rem;
                        weight:500;
                    }
                }
                &-info{
                    @include display-flex;
                    @include justify-center;
                    margin-top: 3rem;
                }
                &-date{
                    margin-right: 3rem;
                }
                &-date, &-target{
                    .tit{
                        font: {
                            size: 2rem;
                            weight:500;
                        }
                        color:#000000;
                    }
                    span{
                        font: {
                            size: 2rem;
                            weight:500;
                        }
                        color:#555555;
                    }
                }
                &-file{
                    *{
                        font: {
                            size: 1.8rem;
                            weight:400;
                        }
                    }
                    .file-list{
                        @include display-flex;
                        @include justify-center;
                        padding:2rem 0;
                        border-bottom:1px solid #dddddd;
                        a{
                            display: inline-block;
                            padding-left: 2.4rem;
                            background: url(../../image/sub/icon-file.png)no-repeat left center;
                            &+a{
                                margin-left: 2.8rem;
                            }
                        }
                    }
                }
                &-content{
                    padding:5rem 6rem;
                    font-size: 2rem;
                    color:#555555;
                    line-height: 3.2rem;
                    *{
                        font-size: 2rem;
                        color:#555555;
                        line-height: 3.2rem;
                    }
                    border-bottom: 1px solid #dddddd;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
    &-bottom{
        .button-wrap{
            flex:none;
            margin-top: 5rem;
            text-align: center;
            button{
                width: 16.4rem;
                height: 6rem;
                font: {
                    size: 1.8rem;
                    weight:600;
                }
                color:#005aab;
                border:1px solid #005aab;
                background:#ffffff;
                letter-spacing: -1px;
            }
        }
    }
}

