.volunteer__inner ul li { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 2rem 3rem 2rem 5rem; border: 1px solid #dddddd; border-radius: .5rem; }

.volunteer__inner ul li + li { margin-top: 1rem; }

.volunteer__inner .info { padding-top: 1.8rem; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.volunteer__inner .info p { overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; font-size: 1.8rem; font-weight: 500; color: #555555; }

.volunteer__inner .info p + p { margin-top: 1.5rem; }

.volunteer__inner .info .tit { margin-bottom: 2rem; font-size: 2.3rem; color: #000000; }

.volunteer__inner .type { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 15.6rem; height: 19.5rem; margin-right: 5rem; border: 1px solid #005aab; border-radius: .5rem; }

.volunteer__inner .type .area { display: inline-block; position: relative; margin-bottom: 4rem; color: #ffffff; font-size: 1.8rem; font-weight: 500; }

.volunteer__inner .type .area::before { position: absolute; top: 50%; left: 50%; width: 5.3rem; height: 5.3rem; background: #005aab; border-radius: 100%; content: ''; z-index: -1; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.volunteer__inner .type .vtype { margin-bottom: 2.5rem; font-size: 2.2rem; font-weight: 600; }

.volunteer__inner .type .time { font-size: 1.8rem; font-weight: 500; }

.volunteer__inner .apply { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.volunteer__inner .apply .to { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; margin-right: 3rem; }

.volunteer__inner .apply .to p { font-size: 1.8rem; font-weight: 500; }

.volunteer__inner .apply .to p + p { position: relative; margin-left: 2.6rem; }

.volunteer__inner .apply .to p + p::before { position: absolute; left: -1.3rem; width: 1px; height: 1.8rem; background: #cccccc; content: ""; }

.volunteer__inner .apply .to p span { color: #005aab; font-weight: 600; }

.volunteer__inner .apply .button-wrap button { width: 12rem; height: 5rem; font-size: 1.8rem; font-weight: 500; color: #005aab; background: #eaf3fa; border: 1px dashed #005aab; }

.youthCouncil-top { position: relative; margin-bottom: 6rem; }

.youthCouncil-top::before { position: absolute; top: 6.5rem; width: 100%; height: calc(100% - .5rem); background: #f5f8f9; content: ""; z-index: -1; }

.youthCouncil-top .img-wrap { width: 47.5rem; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.youthCouncil-top .img-wrap img { display: block; margin: 0 auto; border-radius: 3rem; -webkit-box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1); box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1); }

.youthCouncil-top .title { margin-bottom: 3rem; font-size: 3rem; font-weight: 600; color: #005aab; }

.youthCouncil-top p { font-weight: 500; line-height: 3.4rem; letter-spacing: -.075rem; }

.youthCouncil-top .button-wrap { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.youthCouncil-top .button-wrap button { width: 100%; max-width: 45rem; height: 6rem; font-size: 2rem; border-radius: .5rem; -webkit-box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.28); box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.28); }

.youthCouncil-des { padding-top: 5rem; padding-right: 11.5rem; }

.youthCouncil-bottom > ul > li { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; padding: 5rem 0; }

.youthCouncil-bottom > ul > li + li { border-top: 1px dashed #dddddd; }

.youthCouncil-bottom .list-dashed li { position: relative; padding-left: 1rem; font-size: 1.8rem; font-weight: 500; line-height: 3.2rem; }

.youthCouncil-bottom .list-dashed li::before { position: absolute; top: 1.5rem; left: 0; width: .4rem; height: 1px; background: #000000; content: ""; }

.youthCouncil-bottom .title { position: relative; width: 21.5rem; margin-left: 10.7rem; padding-left: 6rem; padding-right: 9.5rem; line-height: 3.6rem; letter-spacing: -.075rem; font-size: 2.4rem; font-weight: 600; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.youthCouncil-bottom .title::before { position: absolute; top: 1.6rem; left: 0; width: 4rem; height: 1px; background: #000000; content: ""; }

.youthCouncil-bottom .cont { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.youthCouncil-bottom .cont p { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 8rem; text-align: center; border-radius: .3rem; font-size: 1.8rem; font-weight: 500; line-height: 3.2rem; border: 1px solid #005bac; }

.youthCouncil-bottom .cont p + p { margin-top: 1rem; }
