@charset "UTF-8";
/* 서브 공통 */
.py_2 { padding-top: 2rem !important; padding-bottom: 2rem !important; }

.pl_20 { padding-left: 2rem; }

.p-0 { padding-top: 0 !important; padding-left: 0 !important; padding-right: 0 !important; padding-bottom: 0 !important; }

.ml-0 { margin-left: 0 !important; }

.mr-auto { margin-right: auto; }

.align-items-center { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.justify-content-end { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.justify-content-center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.flex { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

button, select, input { font-family: 'notokr', sans-serif; }

.font-18 { font-size: 1.8rem; }

.text-center { text-align: center !important; text-indent: 0 !important; }

.text-center input { text-align: center !important; text-indent: 0 !important; }

.sub-visual { height: 24rem; }

.sub-visual.businessInfo { background: url(../../image/sub/sub-visual__02.jpg) no-repeat center; }

.sub-visual__inner { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 140rem; width: 100%; height: 100%; margin: 0 auto; font-size: 5rem; font-weight: 600; }

.sub-container__inner { max-width: 140rem; width: 100%; margin: 6rem auto 10rem auto; }

.sub-title { margin-bottom: 5rem; font-size: 4.4rem; font-weight: 600; text-align: center; }

.sub-title2 { margin-bottom: 3rem; font-size: 2.4rem; font-weight: 600; }

.sub-title2__color--blue { margin-bottom: 3rem; font-size: 2.4rem; font-weight: 600; color: #005aab; }

.sub-tab__inner { padding: 3.5rem 0; margin-bottom: 5rem; border-radius: .5rem; border: .2rem solid #e0e3e8; }

.sub-tab ul { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 0; }

.sub-tab ul li.on a { color: #005aab; }

.sub-tab ul li a { padding: 0 5.5rem; color: #747478; font-size: 2.2rem; font-weight: 500; }

.sub-tab ul li + li { position: relative; }

.sub-tab ul li + li::before { position: absolute; width: 1px; height: 100%; background: #bbbbbb; content: ""; }

.w-50 { width: 50%; }

.w-100 { width: 100%; }

.text-notice { background: #f5f8f9; }

.text-notice__inner { margin-bottom: 5rem; padding: 5rem 0; font-size: 2.2rem; font-weight: 500; line-height: 4rem; text-align: center; }

dl { font-size: 1.8rem; }

dl > div { display: -webkit-box; display: flex; display: -ms-flexbox; display: flex; }

.border-box__inner { padding: 5rem 0; border: 1px solid #dfdfdf; }
